addon-service/addon/src/test/resources/CCAAAnalisisPort.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:types="http://ProcesadoCCAA.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:WSDLProcesado" targetNamespace="urn:WSDLProcesado">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ProcesadoCCAA.xsd" elementFormDefault="qualified">
            <element name="ccaatocia">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="header" type="types:HEADERTYPE"/>
                        <element minOccurs="1" maxOccurs="1" name="body" type="types:BODYTYPE"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ciatoccaa">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="header" type="types:HEADERTYPE"/>
                        <element minOccurs="1" maxOccurs="1" name="body" type="types:BODYTYPERES"/>
                    </sequence>
                </complexType>
            </element>
            <element name="rccaatocia">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="header" type="types:HEADERTYPE"/>
                        <element minOccurs="1" maxOccurs="1" name="body" type="types:RBODYTYPE"/>
                    </sequence>
                </complexType>
            </element>
            <element name="rciatoccaa">
                <complexType>
                    <sequence>
                        <element minOccurs="1" maxOccurs="1" name="header" type="types:HEADERTYPE"/>
                        <element minOccurs="1" maxOccurs="1" name="body" type="types:RESRBODYTYPE"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="BODYTYPE">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="usuario" type="types:EUSUARIO"/>
                    <element minOccurs="1" maxOccurs="1" name="ficheros" type="types:EFICHEROS"/>
                </sequence>
                <attribute name="fecinireq" type="date" use="required"/>
                <attribute name="fecfinreq" type="date" use="required"/>
                <attribute name="cifempre" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="9"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <complexType name="BODYTYPERES">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="resultado" type="types:IDRESULTADO"/>
                    <element minOccurs="1" maxOccurs="1" name="numreq" type="string"/>
                </sequence>
            </complexType>
            <complexType name="HEADERTYPE">
                <attribute name="version" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="3"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="versionsender" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="7"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="fecha" type="dateTime" use="required"/>
            </complexType>
            <complexType name="EUSUARIO">
                <attribute name="identificador" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="9"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="password" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="9"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <complexType name="EFICHEROS">
                <sequence>
                    <element minOccurs="1" maxOccurs="unbounded" name="fichero" type="types:EFICHERO"/>
                </sequence>
            </complexType>
            <complexType name="EFICHERO">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="datos" type="base64Binary"/>
                </sequence>
                <attribute name="tipo" use="required" type="types:IDTPFICHERO"/>
                <attribute name="nombre" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="40"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <simpleType name="IDTPFICHERO">
                <restriction base="string">
                    <enumeration value="TC"/>
                    <enumeration value="VU"/>
                    <enumeration value="DA"/>
                </restriction>
            </simpleType>
            <simpleType name="IDRESULTADO">
                <restriction base="string">
                    <enumeration value="0"/>
                    <enumeration value="1"/>
                    <enumeration value="2"/>
                </restriction>
            </simpleType>
            <complexType name="RBODYTYPE">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="numreq" type="string"/>
                    <element minOccurs="1" maxOccurs="1" name="usuario" type="types:EUSUARIO"/>
                </sequence>
            </complexType>
            <complexType name="RESRBODYTYPE">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="status" type="types:IDSTATUS"/>
                    <element minOccurs="0" maxOccurs="1" name="incidencias" type="types:EINCIDENCIAS"/>
                    <element minOccurs="0" maxOccurs="1" name="sanciones" type="types:ESANCIONES"/>
                </sequence>
            </complexType>
            <complexType name="EINCIDENCIAS">
                <sequence>
                    <element minOccurs="1" maxOccurs="unbounded" name="incidencia" type="types:EINCIDENCIA"/>
                </sequence>
            </complexType>
            <complexType name="EINCIDENCIA">
                <attribute name="fichero" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="40"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="descripcion" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="255"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <complexType name="ESANCIONES">
                <sequence>
                    <element minOccurs="1" maxOccurs="unbounded" name="sancion" type="types:ESANCION"/>
                </sequence>
            </complexType>
            <complexType name="EACTIVIDADES">
                <sequence>
                    <element minOccurs="1" maxOccurs="unbounded" name="actividad" type="types:EACTIVIDAD"/>
                </sequence>
            </complexType>
            <complexType name="EACTIVIDAD">
                <attribute name="tipoact" use="required" type="types:IDTIPOACT"/>
                <attribute name="inicio" use="required" type="dateTime"/>
                <attribute name="tmp" use="required">
                    <simpleType>
                        <restriction base="integer">
                            <minInclusive value="1"/>
                            <maxInclusive value="999"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="matricula" use="optional">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="11"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <complexType name="ESANCION">
                <sequence>
                    <element minOccurs="1" maxOccurs="1" name="actividades" type="types:EACTIVIDADES"/>
                </sequence>
                <attribute name="tarjeta" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="14"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="tipo" use="required" type="types:IDTIPOINFRAC"/>
                <attribute name="limite" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="50"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="fechainiperiodo" use="required" type="dateTime"/>
                <attribute name="fechafinperiodo" use="required" type="dateTime"/>
                <attribute name="EC" use="optional">
                    <simpleType>
                        <restriction base="integer">
                            <minInclusive value="1"/>
                            <maxInclusive value="999"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="FD" use="optional">
                    <simpleType>
                        <restriction base="integer">
                            <minInclusive value="1"/>
                            <maxInclusive value="999"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="TC" use="optional">
                    <simpleType>
                        <restriction base="integer">
                            <minInclusive value="1"/>
                            <maxInclusive value="999"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="TD" use="optional">
                    <simpleType>
                        <restriction base="integer">
                            <minInclusive value="1"/>
                            <maxInclusive value="999"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="descansos" use="optional">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="300"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="baremo" use="required">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="6"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="naturaleza" use="required" type="types:IDNATURALEZA"/>
                <attribute name="importe" use="required">
                    <simpleType>
                        <restriction base="float">
                            <minInclusive value="0.000"/>
                            <maxInclusive value="999999.99"/>
                        </restriction>
                    </simpleType>
                </attribute>
                <attribute name="observaciones" use="optional">
                    <simpleType>
                        <restriction base="string">
                            <minLength value="1"/>
                            <maxLength value="300"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </complexType>
            <simpleType name="IDNATURALEZA">
                <restriction base="string">
                    <enumeration value="L"/>
                    <enumeration value="G"/>
                    <enumeration value="MG"/>
                </restriction>
            </simpleType>
            <simpleType name="IDTIPOINFRAC">
                <restriction base="string">
                    <enumeration value="ECD"/>
                    <enumeration value="ECI"/>
                    <enumeration value="ECIR"/>
                    <enumeration value="ECS"/>
                    <enumeration value="ECB"/>
                    <enumeration value="FDD"/>
                    <enumeration value="FDS"/>
                    <enumeration value="FDSR"/>
                    <enumeration value="FDS45"/>
                </restriction>
            </simpleType>
            <simpleType name="IDSTATUS">
                <restriction base="string">
                    <enumeration value="0"/>
                    <enumeration value="1"/>
                    <enumeration value="2"/>
                </restriction>
            </simpleType>
            <simpleType name="IDTIPOACT">
                <restriction base="string">
                    <enumeration value="DESC"/>
                    <enumeration value="DISP"/>
                    <enumeration value="OTR"/>
                    <enumeration value="COND"/>
                    <enumeration value="IND"/>
                </restriction>
            </simpleType>
        </schema>
    </types>
    <message name="ReqMessage">
        <part name="message" element="types:ccaatocia"/>
    </message>
    <message name="Res_Message">
        <part name="message" element="types:ciatoccaa"/>
    </message>
    <message name="ReqMessage2">
        <part name="message2" element="types:rccaatocia"/>
    </message>
    <message name="Res_Message2">
        <part name="message2" element="types:rciatoccaa"/>
    </message>
    <portType name="CCAAAnalisis">
        <operation name="processAnalisis">
            <input message="tns:ReqMessage"/>
            <output message="tns:Res_Message"/>
        </operation>
        <operation name="requestAnalisis">
            <input message="tns:ReqMessage2"/>
            <output message="tns:Res_Message2"/>
        </operation>
    </portType>
    <binding name="CCAAAnalisisSOAP" type="tns:CCAAAnalisis">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="processAnalisis">
            <soap12:operation style="document" soapAction="urn:WSDLProcesado/processAnalisis" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal" parts="message"/>
            </input>
            <output>
                <soap12:body use="literal" parts="message"/>
            </output>
        </operation>
        <operation name="requestAnalisis">
            <soap12:operation style="document" soapAction="urn:WSDLProcesado/requestAnalisis" soapActionRequired="false"/>
            <input>
                <soap12:body use="literal" parts="message2"/>
            </input>
            <output>
                <soap12:body use="literal" parts="message2"/>
            </output>
        </operation>
    </binding>
    <service name="CCAAAnalisis">
        <documentation>Servicio Web para el analisis de tacografo</documentation>
        <port name="CCAAAnalisisPort" binding="tns:CCAAAnalisisSOAP">
            <soap12:address location="http://10.13.208.131:7777/ProcesadoWS/CCAAAnalisisPort"/>
        </port>
    </service>
</definitions>