addon-service-layer/src/test/resources/geFactGva.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://geFact.service.ediwinws.edicom.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://geFact.service.ediwinws.edicom.com" xmlns:intf="http://geFact.service.ediwinws.edicom.com" xmlns:tns1="http://exception.service.ediwinws.edicom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://geFact.service.ediwinws.edicom.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.service.ediwinws.edicom.com"/>
   <element name="getDocuments">
    <complexType>
     <sequence>
      <element name="aUser" type="xsd:string"/>
      <element name="aPassword" type="xsd:string"/>
      <element name="aDomain" type="xsd:string"/>
      <element name="aFilter" type="xsd:string"/>
      <element name="aType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentsResponse">
    <complexType>
     <sequence>
      <element name="getDocumentsReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:EdiwinWSException"/>
   <element name="getUserState">
    <complexType>
     <sequence>
      <element name="aUser" type="xsd:string"/>
      <element name="aPassword" type="xsd:string"/>
      <element name="aDomain" type="xsd:string"/>
      <element name="aNif" type="xsd:string"/>
      <element name="aCountry" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserStateResponse">
    <complexType>
     <sequence>
      <element name="getUserStateReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRecipientDepartment">
    <complexType>
     <sequence>
      <element name="aUser" type="xsd:string"/>
      <element name="aPassword" type="xsd:string"/>
      <element name="aDomain" type="xsd:string"/>
      <element name="aDepartmentType" type="xsd:string"/>
      <element name="aHierarchicalCode" type="xsd:string"/>
      <element name="aDepartmentCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRecipientDepartmentResponse">
    <complexType>
     <sequence>
      <element name="getRecipientDepartmentReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProvider">
    <complexType>
     <sequence>
      <element name="aUser" type="xsd:string"/>
      <element name="aPassword" type="xsd:string"/>
      <element name="aName" type="xsd:string"/>
      <element name="aSurname" type="xsd:string"/>
      <element name="aAddress" type="xsd:string"/>
      <element name="aPostalCode" type="xsd:string"/>
      <element name="aCity" type="xsd:string"/>
      <element name="aRegion" type="xsd:string"/>
      <element name="aCountry" type="xsd:string"/>
      <element name="aNif" type="xsd:string"/>
      <element name="aEmail" type="xsd:string"/>
      <element name="aPersonType" type="xsd:string"/>
      <element name="aResidenceType" type="xsd:string"/>
      <element name="aTelephone" type="xsd:string"/>
      <element name="aRegMercantil" type="xsd:string"/>
      <element name="aBuzon" type="xsd:string"/>
      <element name="aCertReference" type="xsd:string"/>
      <element name="aNameReference" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProviderResponse">
    <complexType>
     <sequence>
      <element name="addProviderReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeProvider">
    <complexType>
     <sequence>
      <element name="aUser" type="xsd:string"/>
      <element name="aPassword" type="xsd:string"/>
      <element name="aNif" type="xsd:string"/>
      <element name="aCountry" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeProviderResponse">
    <complexType>
     <sequence>
      <element name="removeProviderReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.service.ediwinws.edicom.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EdiwinWSException">
    <sequence>
     <element name="cod" type="xsd:int"/>
     <element name="text" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addProviderRequest">

      <wsdl:part element="impl:addProvider" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserStateResponse">

      <wsdl:part element="impl:getUserStateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDocumentsResponse">

      <wsdl:part element="impl:getDocumentsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeProviderResponse">

      <wsdl:part element="impl:removeProviderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserStateRequest">

      <wsdl:part element="impl:getUserState" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeProviderRequest">

      <wsdl:part element="impl:removeProvider" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRecipientDepartmentRequest">

      <wsdl:part element="impl:getRecipientDepartment" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDocumentsRequest">

      <wsdl:part element="impl:getDocuments" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addProviderResponse">

      <wsdl:part element="impl:addProviderResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="EdiwinWSException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getRecipientDepartmentResponse">

      <wsdl:part element="impl:getRecipientDepartmentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="geFactGva">

      <wsdl:operation name="getDocuments">

         <wsdl:input message="impl:getDocumentsRequest" name="getDocumentsRequest"/>

         <wsdl:output message="impl:getDocumentsResponse" name="getDocumentsResponse"/>

         <wsdl:fault message="impl:EdiwinWSException" name="EdiwinWSException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserState">

         <wsdl:input message="impl:getUserStateRequest" name="getUserStateRequest"/>

         <wsdl:output message="impl:getUserStateResponse" name="getUserStateResponse"/>

         <wsdl:fault message="impl:EdiwinWSException" name="EdiwinWSException"/>

      </wsdl:operation>

      <wsdl:operation name="getRecipientDepartment">

         <wsdl:input message="impl:getRecipientDepartmentRequest" name="getRecipientDepartmentRequest"/>

         <wsdl:output message="impl:getRecipientDepartmentResponse" name="getRecipientDepartmentResponse"/>

         <wsdl:fault message="impl:EdiwinWSException" name="EdiwinWSException"/>

      </wsdl:operation>

      <wsdl:operation name="addProvider">

         <wsdl:input message="impl:addProviderRequest" name="addProviderRequest"/>

         <wsdl:output message="impl:addProviderResponse" name="addProviderResponse"/>

         <wsdl:fault message="impl:EdiwinWSException" name="EdiwinWSException"/>

      </wsdl:operation>

      <wsdl:operation name="removeProvider">

         <wsdl:input message="impl:removeProviderRequest" name="removeProviderRequest"/>

         <wsdl:output message="impl:removeProviderResponse" name="removeProviderResponse"/>

         <wsdl:fault message="impl:EdiwinWSException" name="EdiwinWSException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="geFactGvaSoapBinding" type="impl:geFactGva">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getDocuments">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EdiwinWSException">

            <wsdlsoap:fault name="EdiwinWSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserState">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserStateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserStateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EdiwinWSException">

            <wsdlsoap:fault name="EdiwinWSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRecipientDepartment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRecipientDepartmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRecipientDepartmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EdiwinWSException">

            <wsdlsoap:fault name="EdiwinWSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addProvider">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProviderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProviderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EdiwinWSException">

            <wsdlsoap:fault name="EdiwinWSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeProvider">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeProviderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeProviderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="EdiwinWSException">

            <wsdlsoap:fault name="EdiwinWSException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="geFactGvaService">

      <wsdl:port binding="impl:geFactGvaSoapBinding" name="geFactGva">

         <wsdlsoap:address location="https://web.sedeb2b.com/EdiwinWSPre/services/geFactGva"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>