addon-service-layer/src/test/resources/WSAuth.wsdl

<?xml version="1.0"?>
<definitions name="ServerWSAuth" targetNamespace="urn:ServerWSAuth" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ServerWSAuth" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns5="http://WS_CIT_Credencial.cit.gva.es/xsd" xmlns:ns6="http://WSAuth.cit.gva.es/xsd">
<types xmlns="http://schemas.xmlsoap.org/wsdl/">
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WS_CIT_Credencial.cit.gva.es/xsd">
<complexType name="credencialCIT">
<all>
<element name="login" type="xsd:string"/>
<element name="password" type="xsd:string"/>
</all>
</complexType>
</schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WSAuth.cit.gva.es/xsd">
<complexType name="ModuloStruct">
<all>
<element name="modulo" type="xsd:string"/>
<element name="valor" type="xsd:string"/>
<element name="descrip" type="xsd:string"/>
<element name="tipo" type="xsd:string"/>
</all>
</complexType>
<complexType name="ModulosValidaStruct">
<complexContent>
<restriction base="SOAP-ENC:Array">
<attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="ns6:ModuloStruct[]"/>
</restriction>
</complexContent>
</complexType>
<complexType name="validaStruct">
<all>
<element name="usuario" type="xsd:string"/>
<element name="nombre" type="xsd:string"/>
<element name="correo" type="xsd:string"/>
<element name="telefono" type="xsd:string"/>
<element name="nrp" type="xsd:string"/>
<element name="codper" type="xsd:int"/>
<element name="cpro" type="xsd:string"/>
<element name="dgral" type="xsd:string"/>
<element name="cserv" type="xsd:string"/>
<element name="tipousu" type="xsd:string"/>
<element name="daplicacion" type="xsd:string"/>
<element name="version" type="xsd:string"/>
<element name="modulos" type="ns6:ModulosValidaStruct"/>
<element name="ultentra" type="xsd:dateTime"/>
<element name="ultentra_s" type="xsd:string"/>
<element name="param1" type="xsd:string"/>
<element name="param2" type="xsd:string"/>
<element name="param3" type="xsd:string"/>
<element name="rolusuar" type="xsd:string"/>
<element name="bd" type="xsd:string"/>
<element name="server" type="xsd:string"/>
<element name="tipo" type="xsd:string"/>
<element name="comentario" type="xsd:string"/>
</all>
</complexType>
</schema>
</types>
<message name="validaRequest">
<part name="credencial" type="ns5:credencialCIT"/>
<part name="usuario" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="aplicacion" type="xsd:string"/>
</message>
<message name="validaResponse">
<part name="resultado" type="ns6:validaStruct"/>
</message>
<message name="valida_ldapRequest">
<part name="credencial" type="ns5:credencialCIT"/>
<part name="usuario" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="aplicacion" type="xsd:string"/>
</message>
<message name="valida_ldapResponse">
<part name="resultado" type="ns6:validaStruct"/>
</message>
<portType name="ServerWSAuthPort">
<operation name="valida">
<input message="tns:validaRequest"/>
<output message="tns:validaResponse"/>
</operation>
<operation name="valida_ldap">
<input message="tns:valida_ldapRequest"/>
<output message="tns:valida_ldapResponse"/>
</operation>
</portType>
<binding name="ServerWSAuthBinding" type="tns:ServerWSAuthPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="valida">
<soap:operation soapAction="urn:WSAuth#WSAuth#valida"/>
<input>
<soap:body use="encoded" namespace="urn:WSAuth" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:WSAuth" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="valida_ldap">
<soap:operation soapAction="urn:WSAuth#WSAuth#valida_ldap"/>
<input>
<soap:body use="encoded" namespace="urn:WSAuth" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:WSAuth" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="ServerWSAuthService">
<documentation/>
<port name="ServerWSAuthPort" binding="tns:ServerWSAuthBinding">
<soap:address location="http://gardel.coput.gva.es:82/wscmn/WSAuth.php"/>
</port>
</service>
</definitions>