addon-gva-security/src/main/resources/org/gvnix/addon/gva/security/providers/safe/AutorizacionHDFI_v1_00.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dgm.gva.es/ayf/war/definitions/v2_00" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://dgm.gva.es/ayf/war/definitions/v2_00" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://dgm.gva.es/ayf/war/schemas/v2_00">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dgm.gva.es/ayf/war/schemas/v2_00" xmlns:sch="http://dgm.gva.es/ayf/war/schemas/v2_00" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dgm.gva.es/ayf/war/schemas/v2_00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="autorizacion">
                <xsd:sequence>
                    <xsd:element name="permiso" type="xsd:string"/>
                    <xsd:element name="idgrupo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="permiso">
                <xsd:sequence>
                    <xsd:element name="usrcodigo" type="xsd:string"/>
                    <xsd:element name="usrtipo" type="xsd:string"/>
                    <xsd:element name="idgrupo" type="xsd:string"/>
                    <xsd:element name="idrol" type="xsd:string"/>
                    <xsd:element name="idaplicacion" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="permisoapp">
                <xsd:sequence>
                    <xsd:element name="nif" type="xsd:string"/>
                    <xsd:element name="usrtipo" type="xsd:string"/>
                    <xsd:element name="idgrupo" type="xsd:string"/>
                    <xsd:element name="idrol" type="xsd:string"/>
                    <xsd:element name="idaplicacion" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="rol">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="idrol" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="grupo">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="idgrupo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SearchPersonResult">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="tipo" type="xsd:string"/>
                    <xsd:element name="nif" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="apellidos" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" name="roles" type="tns:rol"/>
                    <xsd:element name="grupos" type="tns:grupo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SearchPersonGTResult">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="tipo" type="xsd:string"/>
                    <xsd:element name="nif" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="apellidos" type="xsd:string"/>
                    <xsd:element name="grupos" type="tns:grupo"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SearchPersonParam">
                <xsd:sequence>
                    <xsd:element name="param" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="retornaAutorizacionWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="usuarioHDFI" type="xsd:string"/>
                        <xsd:element name="idAplicacion" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaAutorizacionWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="permisoapp" type="tns:permisoapp"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaTodasAutorizacionesWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="usuarioHDFI" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaTodasAutorizacionesWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="lista_permisos" type="tns:permiso"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaTodasAutorizacionesDNIWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="usuarioDNI" type="xsd:string"/>
                        <xsd:element name="tipoBusqueda">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="USUARIO"/>
                                    <xsd:enumeration value="GRUPO"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaTodasAutorizacionesDNIWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="lista" type="tns:permiso"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaBusquedaPersonasWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="searchParams" type="tns:SearchPersonParam"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaBusquedaPersonasWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="listaUsuario" type="tns:SearchPersonResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaBusquedaPersonasGTWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="searchParams" type="tns:SearchPersonParam"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaBusquedaPersonasGTWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="listaUsuario" type="tns:SearchPersonGTResult"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaAutenticacionWSRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="usuarioHDFI" type="xsd:string"/>
                        <xsd:element name="clave" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="retornaAutenticacionWSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidos" type="xsd:string"/>
                        <xsd:element name="nif" type="xsd:string"/>
                        <xsd:element name="cif" type="xsd:string"/>
                        <xsd:element name="razon_social" type="xsd:string"/>
                        <xsd:element name="tipo_aut" type="xsd:string"/>
                        <xsd:element name="idHDFI" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="retornaBusquedaPersonasGTWSRequest">
        <wsdl:part name="retornaBusquedaPersonasGTWSRequest" element="WL5G3N1:retornaBusquedaPersonasGTWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaBusquedaPersonasGTWSResponse">
        <wsdl:part name="retornaBusquedaPersonasGTWSResponse" element="WL5G3N1:retornaBusquedaPersonasGTWSResponse"/>
    </wsdl:message>
    <wsdl:message name="retornaTodasAutorizacionesDNIWSRequest">
        <wsdl:part name="retornaTodasAutorizacionesDNIWSRequest" element="WL5G3N1:retornaTodasAutorizacionesDNIWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaTodasAutorizacionesDNIWSResponse">
        <wsdl:part name="retornaTodasAutorizacionesDNIWSResponse" element="WL5G3N1:retornaTodasAutorizacionesDNIWSResponse"/>
    </wsdl:message>
    <wsdl:message name="retornaAutorizacionWSRequest">
        <wsdl:part name="retornaAutorizacionWSRequest" element="WL5G3N1:retornaAutorizacionWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaAutorizacionWSResponse">
        <wsdl:part name="retornaAutorizacionWSResponse" element="WL5G3N1:retornaAutorizacionWSResponse"/>
    </wsdl:message>
    <wsdl:message name="retornaAutenticacionWSRequest">
        <wsdl:part name="retornaAutenticacionWSRequest" element="WL5G3N1:retornaAutenticacionWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaAutenticacionWSResponse">
        <wsdl:part name="retornaAutenticacionWSResponse" element="WL5G3N1:retornaAutenticacionWSResponse"/>
    </wsdl:message>
    <wsdl:message name="retornaBusquedaPersonasWSRequest">
        <wsdl:part name="retornaBusquedaPersonasWSRequest" element="WL5G3N1:retornaBusquedaPersonasWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaBusquedaPersonasWSResponse">
        <wsdl:part name="retornaBusquedaPersonasWSResponse" element="WL5G3N1:retornaBusquedaPersonasWSResponse"/>
    </wsdl:message>
    <wsdl:message name="retornaTodasAutorizacionesWSRequest">
        <wsdl:part name="retornaTodasAutorizacionesWSRequest" element="WL5G3N1:retornaTodasAutorizacionesWSRequest"/>
    </wsdl:message>
    <wsdl:message name="retornaTodasAutorizacionesWSResponse">
        <wsdl:part name="retornaTodasAutorizacionesWSResponse" element="WL5G3N1:retornaTodasAutorizacionesWSResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutorizacionPortType">
        <wsdl:operation name="retornaBusquedaPersonasGTWS">
            <wsdl:input name="retornaBusquedaPersonasGTWSRequest" message="WL5G3N2:retornaBusquedaPersonasGTWSRequest"/>
            <wsdl:output name="retornaBusquedaPersonasGTWSResponse" message="WL5G3N2:retornaBusquedaPersonasGTWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retornaTodasAutorizacionesDNIWS">
            <wsdl:input name="retornaTodasAutorizacionesDNIWSRequest" message="WL5G3N2:retornaTodasAutorizacionesDNIWSRequest"/>
            <wsdl:output name="retornaTodasAutorizacionesDNIWSResponse" message="WL5G3N2:retornaTodasAutorizacionesDNIWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retornaAutorizacionWS">
            <wsdl:input name="retornaAutorizacionWSRequest" message="WL5G3N2:retornaAutorizacionWSRequest"/>
            <wsdl:output name="retornaAutorizacionWSResponse" message="WL5G3N2:retornaAutorizacionWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retornaAutenticacionWS">
            <wsdl:input name="retornaAutenticacionWSRequest" message="WL5G3N2:retornaAutenticacionWSRequest"/>
            <wsdl:output name="retornaAutenticacionWSResponse" message="WL5G3N2:retornaAutenticacionWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retornaBusquedaPersonasWS">
            <wsdl:input name="retornaBusquedaPersonasWSRequest" message="WL5G3N2:retornaBusquedaPersonasWSRequest"/>
            <wsdl:output name="retornaBusquedaPersonasWSResponse" message="WL5G3N2:retornaBusquedaPersonasWSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retornaTodasAutorizacionesWS">
            <wsdl:input name="retornaTodasAutorizacionesWSRequest" message="WL5G3N2:retornaTodasAutorizacionesWSRequest"/>
            <wsdl:output name="retornaTodasAutorizacionesWSResponse" message="WL5G3N2:retornaTodasAutorizacionesWSResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutorizacionPortTypeSoap11" type="WL5G3N2:AutorizacionPortType">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retornaBusquedaPersonasGTWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaBusquedaPersonasGTWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaBusquedaPersonasGTWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retornaTodasAutorizacionesDNIWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaTodasAutorizacionesDNIWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaTodasAutorizacionesDNIWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retornaAutorizacionWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaAutorizacionWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaAutorizacionWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retornaAutenticacionWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaAutenticacionWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaAutenticacionWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retornaBusquedaPersonasWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaBusquedaPersonasWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaBusquedaPersonasWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retornaTodasAutorizacionesWS">
            <WL5G3N3:operation/>
            <wsdl:input name="retornaTodasAutorizacionesWSRequest">
                <WL5G3N3:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="retornaTodasAutorizacionesWSResponse">
                <WL5G3N3:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutorizacionService">
        <wsdl:port name="AutorizacionPortTypeSoap11" binding="WL5G3N2:AutorizacionPortTypeSoap11">
            <WL5G3N3:address location="https://preinterint.gva.es:443/eSirca_Bus/ins/Proxy/SAFE/AutorizacionHDFI_v1_00"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
